<div class="cotaniner color-dark">
  <div class="col">
    <p>Add ToDo Task</p>
  </div>

  <div class="col">
    <p>ToDo List</p>
  </div>

</div>

<div class="contaniner  color-light">
    <div class="col">
        <h2>use this to add your to-do also to remove</h2>
        <form >
            <input type="text" class="text" name="projectname" placeholder="please add task here">
            <br>
            <input type="submit" class="btn" value="Add Task">

        </form>
      </div>
      <div class="col">
          <p>
              Projcts list
          </p>

      </div>

</div>
